<%= form_with(model: message, local: true) do |form| %>
  <div class="error-message">
    <% if message.errors.any? %>
      <div id="error_explanation">
        <h3>エラーがあります</h3>
        <ul>
        <% message.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  </div>
  
  <%= form.hidden_field :user_id %>
  <%= form.hidden_field :book_id %>
  

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :message_name %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :message_email %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content, id: :message_content %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
