<div class="error-message">
  <% if @message.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% @message.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>
<div class="message_show_field container-fluid">
  <div class="message_show row fadeIn_text_up_1s">
    <h4><%= t '.message_content' %></h4>
    <hr width="17%">
    <div class="message_show_contents">
      <li><strong><%= t '.name' %></strong></li>
      <hr width="3%">
      <li><%= @message.name %></li>
    </div>
    <div class="message_show_contents">
      <li><strong><%= t '.email' %></strong></li>
      <hr width="10%">
      <li><%= @message.email %></li>
    </div>
    <div class="message_show_contents">
      <li><strong><%= t '.message' %></strong></li>
      <hr width="7%">
      <li><%= @message.content %></li>
    </div>
  </div>
  <div class="message_end row">
    <li><%= link_to t('.back_to_book'), book_path(@message.book) %></li>
    <hr width="12%">
  </div>
</div>