<!-- LOGIN FORM -->
<!--<div class="text-center" style="padding:50px 0">-->
	<!--<div class="logo"></div>-->
	<!-- Main Form -->
<!--		<%= form_with(scope: :session, url: sessions_path) do |f| %>-->
<!--			<div class="login-form-1">-->
				<!--<div class="login-form-main-message"></div>-->
<!--					<div class="main-login-form">-->
<!--						<div class="login-group">-->
<!--							<div class="form-group">-->
<!--							    <%= f.label :email %>-->
<!--		              <%= f.email_field :email %>-->
<!--							</div>-->
<!--							<div class="form-group">-->
<!--							    <%= f.label :password %>-->
<!--		              <%= f.password_field :password %>-->
<!--							</div>-->
<!--						</div>-->
					        <!--<%= f.submit "login", { class: "login-button fa fa-chevron-right " } %>-->
<!--					        <%= f.submit "login", { class: "btn btn-info ",style: "margin-top: 20px" } %>-->
<!--					</div>-->
<!--				<div class="to-signup">-->
					<!--<li>If there is no account...</li>-->
					<!--<li class="login-button fa fa-chevron-right"><%= link_to "Sign up", new_user_path, :style=>"color:#404040;" %></li>-->
<!--					<li>If there is no account...</li>-->
<!--					<li class="btn btn-info"><%= link_to "Sign up", new_user_path %></li>-->
<!--				</div>-->
<!--			</div>-->
<!--		<% end %>-->
	<!-- end:Main Form -->
<!--</div>-->
