<div class="signup-login-field container-fluid fadeIn_text_up_1s">
	<div class="error-message">
		<%= form_with(model: @user, local: true) do |f| %>  
	  <% if @user.errors.any? %>
	    <div id="error_explanation">
	    	<h3>エラーがあります</h3>
	      <ul>
	      <% @user.errors.full_messages.each do |message| %>
	        <li><%= message %></li>
	      <% end %>
	      </ul>
	    </div>
	  <% end %>
  </div>
	<div class="col-md-1"></div>
	<div class="signup-field col-md-5">
    <div class="form-area"> 
  		<br style="clear:both">
  		<div class="form-content">
	  		<h4>サインアップ</h4>
	      <p>登録をされていない方はこちら</p>
			</div>
			<div class="form-group">
        <li><%= f.text_field :name,placeholder: :名前,class: "form-control" %></li>
			</div>
		  <div class="form-group">
        <li><%= f.email_field :email,placeholder: :Eメール,class: "form-control" %></li>
			</div>
			<div class="form-group">
        <li><%= f.password_field :password ,placeholder: :パスワード,class: "form-control" %></li>		  
			</div>
			<div class="form-group">
        <li><%= f.password_field :password_confirmation ,placeholder: :再度パスワードをご入力ください,class: "form-control" %></li>
			</div>
			<%= f.submit "登録", class: "btn btn-default pull-right",style: "margin-top: 6px"  %>
		</div>
		<% end %>
	</div>
	<!-- ログイン -->
	<div class="login-field col-md-5">
			<%= form_with(scope: :session, url: sessions_path) do |f| %>
				<div class="form-area">
		  		<br style="clear:both">
		  		<div class="form-content">
			  		<h4>ログイン</h4>
  	        <p>アカウントをお持ち方はこちら</p>
  	      </div>
					<div class="form-group">
              <li><%= f.email_field :email ,placeholder: :Eメール,class: "form-control" %></li>
					</div>
					<div class="form-group">
              <li><%= f.password_field :password ,placeholder: :パスワード,class: "form-control"%></li>
					</div>
			        <%= f.submit "ログイン", class: "btn btn-default pull-right",style: "margin-top: 6px" %>
				</div>
			<% end %>
	</div>
	<div class="col-md-1"></div>
</div>