<div class="user_show container-fluid fadeIn_text_up_1s">
  <h3><%= t '.acount' %></h3>
  <% if @user.id == current_user.id %>
    <div class="user_show_contents col-md-12">
      <h4><%= t '.name' %></h4>
      <li><%= @user.name %></li>
      <h4><%= t '.email' %></h4>
      <li><%= @user.email %></li>
    </div>
    <div class="user_edit">
      <li><%= link_to t('.edit'), edit_user_path(@user), class: 'btn btn-default' %>
      <%= link_to t('.delete'), @user, method: :delete, data: { confirm: '本当に削除しますか?' }, class: 'btn btn-default' %></li>
    </div>
  <% end %>
</div>