<div class="donation fadeIn_text_up_1s">
  <section class="donation-field container-fluid">
    <div class="col-md-2"></div>    
    <div class="col-md-8">    
      <h4><%= t '.text_1' %></h4>
      <h4><%= t '.text_2' %></h4><br>
      <li><%= t '.text_3' %></li>
      <li><%= t '.text_4' %></li><br>
      <hr>
    </div>
    <div class="col-md-2"></div>    
  </section>
  <section class="container-fluid donation-place">
    <div class="row">
      <div class="col-md-3"></div>
      <table class="col-md-6">
        <tr>
          <td>一般社団法人アストモ</td>
          <td><a href="http://asutomo.org/asutomonowa/ehon.htm" target="_blank">http://asutomo.org/asutomonowa/ehon.htm</a></td>
        </tr>
        <tr>
          <td>地球の楽好グループ</td>
          <td><a href="http://chikyuunogakkou.org/ehon.html" target="_blank">http://chikyuunogakkou.org/ehon.html</a></td>
        </tr>
      </table>
      <div class="col-md-3"></div>
    </div>
    <li><%= t '.text_5' %></li><br>
  </section>
</div>