<div class="error-message">
  <% if @book.errors.any? %>
    <div id="error_explanation">
        <% @book.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>
<%= form_with(model: @book, local: true , url: choose_new_or_edit ) do |form| %>
  <div class="post-contents row">
    <div class="col-md-1"></div>
    <div class="left-comment col-md-5">
      <div class="left-comment-top">
        <%= t '.comment1_html' %>
        <%= t '.comment2_html' %>
        <%= t '.comment3_html' %>
        <%= t '.comment4_html' %>
      </div>
        <hr width="60%">
      <div>
        <%= t '.comment5_html' %>
        <%= t '.comment6_html' %>
        <%= t '.comment7_html' %>
      </div>
    </div>
    <div class="form-area col-md-5">
     <br style="clear:both">
      <div class="book_title form-group">
         <li><%= t '.book_title' %></li>
         <p class="text_area"><%= form.text_field :title, placeholder: t('helpers.placeholder.title'), class: "form-control" %></p>
      </div>
      <div class="form-group">
        <li><%= t '.book_genre' %></li>
        <li>
         <%= form.select :tag_list, Book.tag_lists.map { |s| [t("enums.book.tag_list.#{s[0]}"), s[1]] },{include_blank: true},{ class: "form-control" } %>
        </li>
      </div>
      <div class="book-up-field form-group">
        <li><%= t '.book_image' %></li>
        <div class="input-group book_img">
          <label class="input-group-btn">
            <span class="btn btn-default">
              <%= form.label :image %>
              <%= form.file_field :image ,id: :book_image, class: "fileInput", style: "display:none;" %>
              <%= form.hidden_field :image_cache %>
            </span>
          </label>
          <% if @book.image? %>
            <%= text_field_tag 'image', File.basename(@book.image.path), class: "form-control", :readonly => true %>
          <% else %>
            <input type="text" class="form-control" readonly="">
          <% end %>
        </div>
      <div class="book_content form-group">
         <li><%= t '.book_comment' %></li>
         <p class="text_area"><%= form.text_area :content, placeholder: t('helpers.placeholder.content'), class: "form-control", :rows =>"5" %></p>
      </div>
      <div class="book-new-submit">
        <%= form.submit t('.submit_post'), class: 'btn btn-default pull-left' %>
      </div> 
    </div>
    <div class="col-md-1"></div>
  </div>
<% end %>