<div class="confirm_field container-fluid fadeIn_text_up_1s">
  <div class="confirm_content">
    <li>以下の内容で投稿しますか？</li>
    <%= form_with(model: @book, url: books_path, local: true) do |form| %>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 book-show-img">
        <%= image_tag(@book.image.url,class:"img-responsive") %>
        <%= hidden_field_tag :"cache[image]",@book.image.cache_name %>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 book-show-contents">
        <h4>タイトル</h4>
        <h1 class="confirm_content_book"><%= @book.title %></h1>
        <%= form.hidden_field :title %>
        <h4>コメント</h4>
        <h2 class="confirm_content_book"><%= @book.content %></h2>
        <%= form.hidden_field :content %>
        <h4>ジャンル</h4>
        <li class="confirm_content_book"><%= @book.tag_list %></li>
        <%= form.hidden_field :tag_list %>
        <div class="confirm_btn">
        <%= form.submit  "投稿する",class: 'btn btn-default pull-left' %>
        </div>
      </div>      
    <% end %>
    <div class="col-md-12 back_btn">
      <%= form_with(model: @book, url: new_book_path, local: true, method: 'get') do |form| %>
        <%= hidden_field_tag :"cache[image]",@book.image.cache_name %>
        <%= form.hidden_field :title %>
        <%= form.hidden_field :content %>
        <%= form.hidden_field :tag_list %>
        <%= form.submit "もどる", name: 'back',class: 'btn btn-default pull-center' %>
      <% end %>
    </div>
  </div>
</div>

