<div class="container-fluid main-field fadein_2">
  <div class="row tag_field">
    <h5>ジャンル</h5>
    <hr width="17%">
    <div class="tag_cloud">
      <ul>
        <li><%= link_to 'すべて', books_path,class: "tag_name" %></li>
        <% tag_cloud Book.tag_counts, %w{s m l} do |tag, css_class| %>
          <li><%= link_to tag.name, tag_path(tag.name), class: "tag_name" %></li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="row book-field"> 
    <% @books.each do |book| %>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 book-panel">
        <div class="book-images" ontouchstart="" >
          <%= link_to image_tag(book.image_url,class:"img-responsive book-img"),book_path(book) %>
        </div>
        <div class="book-contents" ontouchstart="" > 
          <li>タイトル：<%= book.title %></li>
          <li>ジャンル：<%= link_to book.tag_list, tag_path(book.tag_list) %></li>
        </div>
      </div>
    <% end %>
  </div>
</div>

