<div id="book-show-field" class="container-fluid fadeIn_text_up_1s">
  <div class="book-show-panel">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 book-show-img">
    <%= image_tag(@book.image.url,class:"img-responsive") %>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 book-show-contents">
      <div class="book-right">
        <h4>タイトル</h4>
        <h1><%= @book.title %></h1>
        <h4>コメント</h4>
        <h2><%= @book.content %></h2>
        <h4>ジャンル</h4>
        <li><%= link_to @book.tag_list, tag_path(@book.tag_list) %></li>
        <li>投稿者:<%= @book.user.name %> さん</li>
      </div>
    </div>
  </div>
  <div id="book_user_contents">
    <% if @book.user == current_user %>
      <p>投稿を</p>
      <p>
        <%= link_to '編集する', edit_book_path(@book) %> | 
        <%= link_to '削除する', @book, method: :delete, data: { confirm: '本当に削除しますか?' } %>
      </p>
      <% if @book.transfer_complete == true %>
        <p><%= link_to 'メッセージの受付を再開する',book_path(@book, book: {transfer_complete: false}),method: :put %></p>
      <% else %>
        <p><%= link_to 'メッセージの受付を終了する',book_path(@book, book: {transfer_complete: true}),method: :put %></p>
      <% end %>
    <% end %>
  </div>
</div>
<!--メッセージ-->
<div class="container-fluid message-field fadein_2">
  <%= form_with(model: @message, local: true) do |form| %>
    <%= form.hidden_field :user_id %>
    <%= form.hidden_field :book_id %>
    <div class="message-contents row">
        <div class="message-left col-xs-12 col-sm-12 col-md-6 col-lg-6">
          <div class="message-text_1">
            <h4>この絵本をゆずり受けたい方は<h4>
            <h4><%= @book.user.name %> さんへメッセージを送りましょう。</h4>
          </div>
          <div class="message-text_2">
            <li>Re:pibo は寄付の考えにもとづいたサイトです。</li>
            <li>送料は基本的には絵本の受け取り側がお支払いください。</li>
            <li>メールにてやりとりを行いましょう。</li>
          </div>
        </div>
      <div class="message-right col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <% if logged_in? %>
          <% if @book.transfer_complete == true %>
            <li class="complete_message alert alert-info">この絵本の取引は終了しました。</li>
          <% else %>
            <div class="message-form form-area"> 
            <br style="clear:both">
              <div id="message-name form-group">
                <li>名前</li>
                <%= form.text_field :name, id: :message_name,placeholder: :名前,class: "form-control" %>
              </div>
              <div class="message-email form-group">
                <li>Eメール</li>
                <%= form.text_field :email, id: :message_email,placeholder: :Eメール,class: "form-control" %>
              </div>
              <div class="message-content form-group">
                <li>メッセージ内容</li>
                <%= form.text_area :content, id: :message_content,placeholder: :メッセージ（最大300文字）,class: "form-control",:rows =>"7" %>
              </div>
              <div class="message-action form-group">
                <%= form.submit "メッセージを送る",class: 'btn btn-default btn-outline pull-left' %>
              </div>
            </div>
          <% end %> 
        <% else %>
          <li class="complete_message alert alert-info">メッセージを送る場合は<%= link_to "ログイン/会員登録", new_user_path %>を行ってください。</li>
        <% end %>
      </div>
    </div>
  <% end %>
</div>