<div id="book-show-field" class="row fadeIn_text_up_1s container-fluid">
  <div class="book-show-panel">
    <div class="col-md-6 book-show-img">
    <%= image_tag(@book.image.url, class:"img-responsive") %>
    </div>
    <div class="col-md-6 book-show-contents">
      <div class="book-right">
        <h4><%= t '.title' %></h4>
        <h1><%= @book.title %></h1>
        <h4><%= t '.comment' %></h4>
        <li><%= @book.content %></li>
        <h4><%= t '.genre' %></h4>
        <li><%= link_to Book.tag_enum_name(@book.tag_list), tag_path(@book.tag_list) %></li>
        <li><%= I18n.t('books.show.contributor', book_user_name: @book.user.name) %></li>
      </div>
      <div id="book_user_contents">
        <% if @book.user == current_user %>
          <hr>
          <li><%= t '.edit_comment' %></li>
          <p><%= link_to (t '.edit'), edit_book_path(@book), class: 'btn btn-default' %>
          <%= link_to (t '.delete'), @book, method: :delete, data: { confirm: (t '.delete_message') } , class: 'btn btn-default' %></p>
          <% if @book.transfer_complete == true %>
            <p><%= link_to (t '.reception_restart'), book_path(@book, book: { transfer_complete: false }),method: :put , class: 'btn btn-default' %></p>
          <% else %>
            <p><%= link_to (t '.reception_end'), book_path(@book, book: { transfer_complete: true }),method: :put , class: 'btn btn-default' %></p>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<%= render 'show_message-field' %>