<div id="book-show-field" class="row fadeIn_text_up_1s container-fluid">
  <div class="book-show-panel">
    <div class="col-md-6 book-show-img">
    <%= image_tag(@book.image.url, class:"img-responsive") %>
    </div>
    <div class="col-md-6 book-show-contents">
      <div class="book-right">
        <h4>タイトル</h4>
        <h1><%= @book.title %></h1>
        <h4>コメント</h4>
        <li><%= @book.content %></li>
        <h4>ジャンル</h4>
        <li><%= link_to @book.tag_list, tag_path(@book.tag_list) %></li>
        <li>投稿者:<%= @book.user.name %> さん</li>
      </div>
      <div id="book_user_contents">
        <% if @book.user == current_user %>
          <hr>
          <li>こちらから投稿の編集などが行えます</li>
          <p><%= link_to '編集する', edit_book_path(@book), class: 'btn btn-default' %>
          <%= link_to '削除する', @book, method: :delete, data: { confirm: '本当に削除しますか?' } , class: 'btn btn-default' %></p>
          <% if @book.transfer_complete == true %>
            <p><%= link_to 'メッセージの受付を再開する', book_path(@book, book: { transfer_complete: false }),method: :put , class: 'btn btn-default' %></p>
          <% else %>
            <p><%= link_to 'メッセージの受付を終了する', book_path(@book, book: { transfer_complete: true }),method: :put , class: 'btn btn-default' %></p>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<%= render 'show_message-field' %>