<section class="about container-fluid">
  <div class="row">
    <h3 class="fadein">
      <span class="text"><%= t '.about_text1' %></span>
      <span class="text"><%= t '.about_text2' %></span>
    </h3>
    <h3 class="fadein">
      <span class="text"><%= t '.about_text3' %></span>
      <span class="text"><%= t '.about_text4' %></span>
    </h3>
    <h3 class="fadein"><%= t '.about_text5' %></h3>
    <h3 class="fadein">
      <span class="text"><%= t '.about_text6' %></span>
      <span class="text"><%= t '.about_text7' %></span>
    </h3>
    <h3 class="fadein">
      <span class="text"><%= t '.about_text8' %></span>
      <span class="text"><%= t '.about_text9' %></span>
    </h3>
    <h3 class="fadein">
      <span class="text"><%= t '.about_text10' %></span>
      <span class="text"><%= t '.about_text11' %></span>
    </h3>
  </div>
</section>
<section class="container-fluid function">
  <div class="function-field">
    <div class="row fadein_3">
      <h1><%= t '.about_repibo' %></h1>
    </div>
    <div class="row function-contents">
      <div class="col-xs-12 col-sm-6 col-md-3 fadein_3">
        <div class="function-images">
          <img src="male-user.png" sizes="10vw">
        </div>
        <p>
          <span class="text"><%= t '.function_text1' %></span>
          <span class="text"><%= t '.function_text2' %></span>
          <span class="text"><%= t '.function_text3' %></span>
          <span class="text"><%= link_to (t '.function_text4'), new_user_path %></span>
        </p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 fadein_3">
        <div class="function-images">
          <img src="paper-plane.png">
        </div>
        <p>
          <%= t '.function_text5' %><br>
          <%= link_to (t '.function_text6'), new_book_path %>
        </p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 fadein_3">
        <div class="function-images">
          <img src="envelope.png" class="envelope-png">
        </div>
        <p>
          <%= t '.function_text7' %><br>
          <%= t '.function_text8' %>
        </p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 fadein_3">
        <div class="function-images">
          <img src="info.png">
        </div>
        <p>
          <%= t '.function_text9' %><br>
          <%= t '.function_text10' %><br>
          <li><%= link_to (t '.function_text11'), disclaimers_path %></li>
        </p>
      </div>
    </div>
  </div>
</section>