<p><%= I18n.t('message_mailer.message_mail.text_1', message_name: @message.name) %></p>
<p><%= I18n.t('message_mailer.message_mail.text_2') %></p>
<hr>
<h4><%= I18n.t('message_mailer.message_mail.text_3') %></h4>
<li><%= @message.content %></li>
<p><%= I18n.t('message_mailer.message_mail.text_4', message_email: @message.email) %></p>
<p><%= I18n.t('message_mailer.message_mail.text_5', message_name: @message.name) %></p>
<hr>
<p><%= I18n.t('message_mailer.message_mail.text_6') %></p>
<p><%= I18n.t('message_mailer.message_mail.text_7') %></p>