<!DOCTYPE html>
<html>
  <head>
    <title><%= t '.title_head' %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" >
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.13.1/jquery.validate.min.js"></script>
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
    <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-default">
        <section class="container books-index-header fadeIn_home clearfix">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#gnavi">
              <span class="sr-only">メニュー</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>    
          <div id="gnavi" class="collapse navbar-collapse">
            <div class="nav navbar-nav clearfix">
              <div class="nav-left">
                <ul><%= link_to (t '.about'), root_path %></ul>
              </div>
              <div class="nav-right">
                <ol><%= link_to (t '.books_list'), books_path if logged_in? %></ol>
                <ol><%= link_to (t '.new'), new_book_path if logged_in? %></ol>
                <ol><%= link_to (t '.donation'), donations_path if logged_in? %></ol>
                <ol><%= link_to (t '.contact'), new_contact_path if logged_in? %></ol>
                <ol><%= link_to (t '.acount'), user_path(current_user.id) if logged_in? %></ol>
                <ol><%= link_to (t '.logout'), session_path(current_user.id), method: :delete if logged_in? %></ol>
                <ol><%= link_to (t '.books_list'), books_path unless logged_in? %></ol>
                <ol><%= link_to (t '.donation'), donations_path unless logged_in? %></ol>
                <ol><%= link_to (t '.contact'), new_contact_path unless logged_in? %></ol>
                <ol><%= link_to (t '.login_signin'), new_user_path unless logged_in? %></ol>
                <ol>
                  <%= link_to_if params[:locale].present?, '日本語',  url_for(controller: controller.controller_name, action: controller.action_name, locale: 'ja') %> |
                  <%= link_to_if params[:locale] != 'en',  'English',  url_for(controller: controller.controller_name, action: controller.action_name, locale: 'en') %>
                </ol>
              </div>
            </div>
          </div>
          <div class="fadeIn_home">
            <h1 class="fadeout"><%= t '.title1' %></h1>
            <h3 class="fadeout"><%= t '.title2' %></h3>
            <h3 class="fadeout"><%= t '.title3' %></h3>
          </div>
        </section>
      </nav>
    </header>
    <li class="notice"><%= notice %></li>
    <%= yield %>
    <script>
    jQuery(function($){
      var $container = $('.grid');　
        $container.imagesLoaded(function(){
          $container.masonry({
            itemSelector: '.grid-item',　
            isFitWidth: true,　
            columnWidth: 300
          });
        });
    });
    </script>
    <footer>
        <p>© 2018 Copyright Re:pibo</p>
    </footer>
  </body>
</html>